<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quizzical</title>
    <link rel="icon" type="image/x-icon" href="img/favicon.ico">
    <link rel="stylesheet" href="styles/create.css">
    <link rel="stylesheet" href="styles/search.css">
    <link rel="stylesheet" href="styles/notifications.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js"></script>
</head>
<body>
    <div class="top-bar">
        <a href="/"><img src="img/logo.svg" alt="Logo" id="logo"></a>
        <div id="search-bar">
            <input type="text" id="search-box" placeholder="Search users or quizzes">
            <div id="suggestions-box">
                <ul id="suggestions-list">
                </ul>
            </div>
        </div>
    </div>
    
    <div class="sidebar">
        <ul class="list">

            <a href="/create"><li>Create Quiz</li></a>
            <a href="/friends"><li>Friends</li></a>
            <a href="/scores"><li>Past Quizzes</li></a>
            <a href="/user?username=<%= username %>"><li>Profile</li></a>
            <a href="/auth?state=logout"><li>Logout</li></a>

        </ul>
    </div>
    
    <div class="content">
        <h1>Creating Quiz</h1>
        <form id="quiz-form" action="/create" method="post">
            <div id="inputs">
                <h2 class="quiz-name">Title of the Quiz: <input type="text" name="quizname" required autofocus></h2>
    
                <div><h2>Number of questions:</h2> 
                    <!-- <form id="number-form" action="/buffer" method="post"> -->
                        <input class="number-of-questions" type="radio" name="numberofquestions" value="10" required>10</input>
                        <input class="number-of-questions" type="radio" name="numberofquestions" value="15">15</input>
                        <input class="number-of-questions" type="radio" name="numberofquestions" value="20">20</input>
                    
                    <!-- </form> -->
                </div>
            </div>
    
            <button type="submit">Create Quiz</button>
        </form>
    </div>
    <div id="notifications" hidden>New friend request <button type="submit"><i class="fa fa-close"></i></button></div>
    <script>
        let usersName = '<%= usersName %>';
        let username = '<%= username %>';
        let numberOfQuestions = '<%= numberOfQuestions %>';
        let quizzes = '<%- JSON.stringify(quizzes) %>';
        let quizzesInfo = '<%- JSON.stringify(quizzesInfo) %>';
        let usersInfo = '<%- JSON.stringify(usersInfo) %>';
    </script>
    <script src="scripts/create.js"></script>
    <script src="scripts/notifications.js"></script>
    <script src="scripts/search.js"></script>
</body>
</html>