<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quizzical</title>
    <link rel="icon" type="image/x-icon" href="img/favicon.ico">
    <link rel="stylesheet" href="styles/profile.css">
    <link rel="stylesheet" href="styles/search.css">
</head>
<body>
    <div class="top-bar">
        <a href="/"><img src="img/logo.svg" alt="Logo" id="logo"></a>
        <div id="search-bar">
            <input type="text" id="search-box" placeholder="Search users or quizzes">
            <div id="suggestions-box">
                <ul id="suggestions-list">
                </ul>
            </div>
        </div>
    </div>
    
    <div class="sidebar">
        <ul class="list">

            <a href="/create"><li>Create Quiz</li></a>
            <a href=""><li>Friends</li></a>
            <a href="/scores"><li>Past Quizzes</li></a>
            <a href="/user?username=<%= username %>"><li>Profile</li></a>
            <a href="/auth?state=logout"><li>Logout</li></a>

        </ul>
    </div>
    
    <div class="content">
        <%= errorMessage %>
            
    </div>
    <!-- <div id="variables" hidden></div> -->
    
    <script>
        let usersName = '<%= usersName %>';
        let quizzesInfo = '<%- JSON.stringify(quizzesInfo) %>';
        let usersInfo = '<%- JSON.stringify(usersInfo) %>';
    </script>
    <script src="scripts/search.js"></script>
</body>
</html>